*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  min-height: 10vh;
  font-size: 40px;
  text-align: center;
  border-bottom: 2px solid rgb(180, 177, 177);
}

 /* AddContact css */
 
.contact-details{
  margin-top: 20px;
  min-height: 40vh;
  background-color: rgb(154, 154, 154);
}
/* .contact-details span{
  color: rgb(162, 4, 4);
} */
.contact-details h2{
  margin-left: 10px;
  margin-top: 5px;
  padding: 10px;
  /* transition:  ease-in-out 1s; */
  text-decoration: underline solid rgb(76, 72, 72); 
}
/* .contact-details h2:hover{
  text-decoration: underline solid rgb(76, 72, 72);
} */
.contact-form{
  min-height: 25vh;
  width: 100%;
  font-size: 20px;
}
.field{
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
.field span{
  color: rgb(162, 4, 4);
}
.field input{
  padding: 10px;
  margin: 10px 0px;
}
.submit{
  padding: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
  background-color: rgb(5, 116, 252);
  color: white;
  width: 150px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
}
.submit:hover{
  background-color: rgb(65, 65, 66);
}

/*contactList*/

.contactList{
  /* min-height: 40vh; */
  margin-top: 10px;
}
.contactHead{
  margin-left: 10px;
  margin-top: 5px;
  padding: 10px;
  text-decoration: underline solid rgb(76, 72, 72);
}
.items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px;
  padding: 10px;
  border-bottom: 2px solid rgb(180, 177, 177);
}
.list-name{
  font-size: 20px;
  font-weight: 800;
}
.item{
  display: flex;
  justify-content: center;
  align-items: center;
}
.uIcon{
  margin-right: 5px;
  padding: 15px;
  border-radius: 50%;
  /* border: solid rgb(96, 95, 95); */
  background-color: gray;
  color: white;
}

.editIcon{
  margin-right: 30px;
  font-size: 25px;
  cursor: pointer;
  color: rgb(65, 145, 215);
}
.tIcon{
  /* margin-right: 30px; */
  font-size: 25px;
  cursor: pointer;
  color: brown;
}

.edit-contact-details{
  margin: 0px 20px;
  min-height: 30vh;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}
.edit-contact-details h2{
  padding: 10px;
  text-decoration: underline solid rgb(76, 72, 72); 
}

.edit-submit{
  margin-bottom: 10px;
  padding: 5px;
  background-color: rgb(5, 116, 252);
  color: white;
  width: 100px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
}
.edit-submit:hover{
  background-color: rgb(65, 65, 66);
}
.box{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}